// COLORS
$color-primary-1: #1d8cf8;
$color-primary-2: #3358f4;
$color-primary-3: #76abdf;

$color-secondary-1: #27293d;
$color-secondary-2: #1e1e2e;

$color-accent: #f2cf66;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #f3f3f3;
$color-grey-light-3: #dfe5f2;
$color-grey-light-4: #999;

$color-grey-dark-1: #151d26;
$color-grey-dark-2: #333;
$color-grey-dark-3: #1e1e1e;

$color-valid: #6cc388;
$color-invalid: #f80000;

$color-white: #fff;
$color-black: #000;

//Shadow
$box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
$box-shadow-dark: 0 1rem 2rem rgba(0, 0, 0, 0.2);

// FONT
$default-font-size: 1.7rem;

// GRID
$grid-width: 136.6rem;
$gutter-vertical: 3rem;
$gutter-vertical-small: 1.5rem;
$gutter-horizontal: 3rem;

// FontAwesome
$fa-font-path: '../fontawesome';
